@model IEnumerable<Patient>

<div class="container">
<div class="row">
    <div class="col-2">
        <img src="~/image/medecin.png">
    </div>

    <div class="col">
    <h1> Liste de vos Patients</h1>
    @if (Model.Count() > 0)
    {
        <div class="PatientTable">
        <table class="table table-white table-hover">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom de famille</th>
                    <th>Sexe</th>
                    <th>Numéro de Sécu</th>
                    <th>Détails</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => patient.Nom_p)</td>
                        <td>@Html.DisplayFor(m => patient.Prenom_p)</td>
                        <td>@Html.DisplayFor(m => patient.Sexe_p)</td>
                        <td>@Html.DisplayFor(m => patient.Num_secu)</td>                              
                        <TD><a asp-action="ShowDetails" asp-route-id="@patient.PatientId"> Fiche</a> </TD>
                        <TD><a asp-action="Edit" asp-route-id="@patient.PatientId"> Modifier</a> </TD>
                        <TD><a asp-action="Delete" asp-route-id="@patient.PatientId"> Supprimer</a> </TD>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    }
    else
    {
        <p>Il n'y a pas de profs</p>
    }
    <a asp-action="Add">Ajouter un patient</a></div>

    <div class="col-2"></div>
</div>
</div>