@model PatientEditViewModel
<h1>Fiche de Mr @Model.Patient.Nom_p </h1>
<div class="container">
    <form class="row g-3">
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="validationDefault01" value="@Model.Patient.Prenom_p" disabled
                readonly>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Nom</label>
            <input type="text" class="form-control" id="validationDefault02" value="@Model.Patient.Nom_p" disabled
                readonly>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Numéro de sécurité social</label>
            <input type="text" class="form-control" id="validationDefault02" value="@Model.Patient.Num_secu" disabled
                readonly>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Sexe</label>
            <input type="text" class="form-control" id="validationDefault02" value="@Model.Patient.Sexe_p" disabled
                readonly>
        </div>
    </form>
</div>

<h4>Antécédents</h4>
<div class="form-group">
    @foreach (var antecedent in Model.Antecedents)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="SelectedAntecedentIds" value="@antecedent.AntecedentId"
            @(Model.SelectedAntecedentIds != null && Model.SelectedAntecedentIds.Contains(antecedent.AntecedentId) ?
                "checked" : "") />
            <label class="form-check-label">@antecedent.Libelle_a</label>
        </div>
    }
</div>
<h4>Allergies</h4>
<div class="form-group">
    @foreach (var allergie in Model.Allergies)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="SelectedAllergieIds" value="@allergie.AllergieId"
            @(Model.SelectedAllergieIds != null && Model.SelectedAllergieIds.Contains(allergie.AllergieId) ? "checked" :
                "") />
            <label class="form-check-label">@allergie.Libelle_al</label>
        </div>
    }
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>
