@model IEnumerable<Instructor>

    <h1 class="liste text-center"> Liste de vos Patients</h1>
    @if (Model.Count() > 0)
    {
        <table class="table table-white table-hover">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom de famille</th>
                    <th>Grade</th>
                    <th></th>
                    <th>Détails</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var instructor in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => instructor.FirstName)</td>
                        <td>@Html.DisplayFor(m => instructor.LastName)</td>
                        <td>@Html.DisplayFor(m => instructor.Rank)</td>

                        <TD>@Html.ActionLink("details", "ShowDetails", new { id = @instructor.InstructorId })</TD>
                        <TD><a asp-action="ShowDetails" asp-route-id="@instructor.InstructorId"> Fiche</a> </TD>


                        <TD><a asp-action="Edit" asp-route-id="@instructor.InstructorId"> Modifier</a> </TD>

                        <TD><a asp-action="Delete" asp-route-id="@instructor.InstructorId"> Supprimer</a> </TD>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Il n'y a pas de profs</p>
    }

    <a asp-action="Add">Ajouter un patient</a>
